<!DOCTYPE html>
<html lang="en">

<head>
	<title>Início</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">

	<!-- FontAwesome JS-->
	<script defer src="/assets/js/app.js"></script>

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="/assets/css/portal.css">

</head>
<%-include ('nav.ejs')%>

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">

				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">Canais</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">

										<form class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Search</button>
					                    </div>
					                </form> 

								</div><!--//col-->
							</div><!--//row-->
						</div><!--//table-utilities-->
					</div><!--//col-auto-->
				</div><!--//row-->


				<nav id="orders-table-tab"
					class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
					<a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab"
						href="#orders-all" role="tab" aria-controls="orders-all" aria-selected="true">Todos</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="orders-paid-tab" data-bs-toggle="tab"
						href="#orders-paid" role="tab" aria-controls="orders-paid" aria-selected="false">Paid</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab"
						href="#orders-pending" role="tab" aria-controls="orders-pending"
						aria-selected="false">Pending</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="orders-cancelled-tab" data-bs-toggle="tab"
						href="#orders-cancelled" role="tab" aria-controls="orders-cancelled"
						aria-selected="false">Cancelled</a>
				</nav>


				<div class="tab-content" id="orders-table-tab-content">
					<div class="tab-pane fade show active" id="orders-all" role="tabpanel"
						aria-labelledby="orders-all-tab">
						<div class="app-card app-card-orders-table shadow-sm mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">ID Do Canal</th>
												<th class="cell">Nome Canal</th>
												<th class="cell">Data de Criação</th>
												<th class="cell">Data de Atualização</th>
												<th class="cell">Chave de Leitura</th>
											</tr>
										</thead>
										<tbody>

											<%for(i=0; i < dados.length; i++){%>
												<tr>
													<td><%-dados[i].id%></td>
													<td><%-dados[i].name%></td>
													<td><%-dados[i].createdAt%></td>
													<td><%-dados[i].updatedAt%></td>
													<td><%-dados[i].token_read%></td>
													<td>
														<a href="<%= `http://localhost:3000/index/sensors/${dados[i].id}`%>">
															<button class="btn btn-primary text-white">Gráfico</button>
														</a>
													</td>
													<td>
														<a href="<%= `/api/channels/deleteUser/${dados[i].id}/${userID}`%>">
															<button class="btn btn-danger">Delete</button>
														</a>
													</td>
													
													<td>
														<div class="dropdown">
															<div class="dropdown-toggle no-toggle-arrow" data-bs-toggle="dropdown" aria-expanded="false">
																<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
															<path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
															</svg>
																						</div><!--//dropdown-toggle-->
																						<ul class="dropdown-menu">
																							<li><a class="dropdown-item"   href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
													<path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
													</svg>View</a></li>
																							<li><a class="dropdown-item" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
													</svg>Edit</a></li>
																							<li><a   class="dropdown-item"  onclick="temp(<%- `${dados[i].id}  ,'${ dados[i].token_read}'` %>)" href="#"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download me-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
													<path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
													</svg>Download</a></li>
																							
															</ul>
														</div>

													</td>

												</tr>

												<%}%>

										</tbody>
									</table>
									                         
									<form class="form-inline" method="post" action="<%=`/api/channels/u/${userID}/channels` %>">
										<div class="d-flex">
											<div class="form-group mx-sm-3 mb-2 mt-3">
												<input  name="inputToken" class="form-control" id="inputToken" placeholder="Insira o token aqui">
											</div>
											<button type="submit" class="btn btn-primary mb-2 mt-3 text-white">Adicionar Canal</button>
										</div>
									</form>
								</div><!--//table-responsive-->

							</div><!--//app-card-body-->
						</div><!--//app-card-->

						<%if (dados.length >= 8) {%>
						 <nav class="app-pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
							    </li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
								    <a class="page-link" href="#">Next</a>
								</li>
							</ul> 
						</nav>
						<%}%>
					</div><!--//tab-pane-->
				</div><!--//tab-content-->


			<canvas id="chartContainer"></canvas>
			</div><!--//container-fluid-->
		</div><!--//app-content-->

		<footer class="app-footer fixed-bottom">
	    <div class="container text-center py-3">
	         <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Design por  <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
	       
	    </div>
    </footer><!--//app-footer-->

	</div><!--//app-wrapper-->


	<!-- Javascript -->
	<script> 

		
		

		function convertChartDataToCSV(args) {
			let result, columnDelimiter, lineDelimiter, data;

			data = args.data || null;
			if (data == null || !data.length) {
				return null;
			}


			columnDelimiter = args.columnDelimiter || ',';
			lineDelimiter = args.lineDelimiter || '\n';

			/*
			result = '' + columnDelimiter; 
			result += labels.join(columnDelimiter);
			result += lineDelimiter;

			result += args.data.label.toString();
			*/
			for (let i = 0; i < data[0].length; i++) {
				
			}
			for (let i = 0; i < data.length; i++) {
				result += columnDelimiter;
				result += data[i];
			}
			result += lineDelimiter;

			return result;
		}

		function downloadCSV(args) {
			console.log(args.logs[0][0].temperature)
			var filename, link;
			var csv = "";
			
			labels = ["created_at","entry_id"]
			csv += labels.join(',');

			for(  i = 0; i < args.data.Sensores.length; i++){
				csv += ','
				csv += `field${i+1}`
			}
			csv += '\n'

			for( i = 0; i < args.logs[0].length; i++){
				csv += args.logs[0][i].createdAt
				csv += ',' + (i+1)
				for ( j = 0; j < args.data.Sensores.length; j++) {
					
					csv += ',' + args.logs[j][i].temperature
					
				}
				csv += '\n'
			}

			
			if (csv == null) return;
			console.log(csv);

			filename = args.filename || 'data.csv';
			if (!csv.match(/^data:text\/csv/i)) {
				csv = 'data:text/csv;charset=utf-8,' + csv;
			}

			// not sure if anything below this comment works
			data = encodeURI(csv);
			link = document.createElement('a');
			link.setAttribute('href', data);
			link.setAttribute('download', filename);
			document.body.appendChild(link); // Required for FF
			link.click();
			document.body.removeChild(link);
		}




		async function temp(channelId , content){
			try {
				const response = await fetch(`/api/channels/${channelId}`); // Substitua pela URL correta
					if (!response.ok) {
						throw new Error(`Erro ao buscar dados do canal: ${response.statusText}`);
					}



					

					const channelData = await response.json();
					console.log(`Dados do canal ${channelId}:`, channelData);
					
					let data_logs = []

					if (channelData.Sensores && channelData.Sensores.length > 0) {
						console.log('Sensores do canal:');
						
						for (const sensor of channelData.Sensores) {
							data_logs.push( await ((await fetch(`/api/sensors/${channelData.Sensores[0].id}/temperature-logs`)).json()))
							
						}

						downloadCSV({data: channelData, logs: data_logs})
					} else {
						console.log('Nenhum sensor encontrado para este canal.');
					}
					
				} catch (error) {
					console.error('Erro ao buscar dados do canal:', error);
				}
		}
		
		function showl(){
			const dataLabels = ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July'];
const data = {
  labels: dataLabels,
  datasets: [{
      label: 'Dataset 1',
      data: [65, 59, 80, 81, 56, 55, 40],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
      ],
      borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
      ],
      borderWidth: 1
    },
    {
      label: 'Dataset 2',
      data: [55, 69, 70, 61, 66, 45, 50],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
      ],
      borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
      ],
      borderWidth: 1
    }
  ]
};

const config = {
  type: 'bar',
  data: data,
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  },
};

var chart = new Chart(document.getElementById('chartContainer'), config);


  downloadCSV({
    filename: "chart-data.csv",
    chart: chart
  })


		}
	</script>
	<script src="/assets/plugins/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<!-- Page Specific JS -->
	<script src="/assets/js/app.js"></script>

	</body>

</html>