<!DOCTYPE html>
<html lang="en">

<head>
	<title>Editar sensor</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="/favicon.ico">
	<script defer src="/assets/js/app.js"></script>
	<link id="theme-style" rel="stylesheet" href="/assets/css/portal.css">
</head>
<%-include ('nav.ejs')%>

	<div class="app-wrapper">
		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">
				<form id="form_send"  method="post" >
					<div class="mb-4">
						<label for="idSensor" class="form-label">ID do Sensor</label>
						<input class="form-control" type="text" value="<%=dadoSensor.id%>" aria-label="" readonly>
					</div>
					<div class="mb-3">
					  <label for="nameSensor" class="form-label">Nome</label>
					  <input type="text" name="name" class="form-control" id="name" value="<%=dadoSensor.name%>">
					</div>
					<div class="mb-3">
						<label for="localSensor" class="form-label">Localização</label>
						<input type="text" name="location" class="form-control" id="location" value="<%=dadoSensor.location%>">
					  </div>
					  <div class="mb-3">
						<%if (dadoSensor.corretion_temperature != false){%>
						<input name="corretion_temperature" type="checkbox" class="form-check-input" id="flexCheckChecked" checked onclick="toggleCorrectionField()"> 
						<label  class="form-check-label" >Correção de Temperatura</label>
						<%} else {%>
						<input name="corretion_temperature"  type="checkbox" class="form-check-input" id="flexCheckChecked"  onclick="toggleCorrectionField()"> 
						<label  class="form-check-label" >Correção de Temperatura</label>
							<%}%>
					  </div>
					  <div class="mb-3" id="correctionField" <% if(dadoSensor.corretion_temperature == false){ %> style="display: none; <% }%>">
						<label for="correctionValue" class="form-label">Valor de Correção</label>
						<input name="corretionValue" id="corretionValue" value="<%-dadoSensor.corretion%>" type="number" class="form-control" >
					  </div>
					  <div class="mb-3">
						<label class="form-check-label" for="status">Status</label>

						<%if (dadoSensor.status ==  'ACTIVE') {%>
						<div class="form-check">
							<input name="status" class="form-check-input" type="radio"id="flexRadioDefault3" checked>
							<label class="form-check-label" for="flexRadioDefault2">Ativo</label>
						</div>
						<div class="form-check">
							<input  name="status" class="form-check-input" type="radio" id="flexRadioDefault2">
							<label class="form-check-label" for="flexRadioDefault2">Desativado</label>
						</div>

						<%}else{%>
							<div class="form-check">
								<input name="status" class="form-check-input" type="radio" id="flexRadioDefault3" >
								<label class="form-check-label" for="flexRadioDefault2">Ativo</label>
							</div>
						<div class="form-check">
							<input name="status" class="form-check-input" type="radio"  id="flexRadioDefault2" checked>
							<label class="form-check-label" for="flexRadioDefault2">Desativado</label>
						</div>
						<%}%>
					  </div>
					  <button type="submit" class="btn btn-success mt-4 mx-auto text-white">Atualizar</button>
					  
						<a href="<%= `/index/channel/${channelId}/edit_view`%>"> 
							<button type="button" class="btn btn-success mt-4 mx-auto text-white">Voltar</button>
					   </a>
					</div>
				  </form>
					
					</div><!--//tab-pane-->
				</div><!--//tab-content-->



			</div>
		</div>

		<footer class="app-footer fixed-bottom">
	    <div class="container text-center py-3">
        <small class="copyright">Design por  <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
	       
	    </div>
    </footer><!--//app-footer-->

	</div><!--//app-wrapper-->


	<script src="/assets/plugins/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="/assets/js/app.js"></script>
	<script>
		function toggleCorrectionField() {
			var checkBox = document.getElementById("flexCheckChecked");
			var text = document.getElementById("correctionField");
			if (checkBox.checked == true){
				text.style.display = "block";
			} else {
				text.style.display = "none";
			}
		}
		toggleCorrectionField() 
	
		document.getElementById('form_send').addEventListener('submit', function(event) {
			event.preventDefault();

			let url = "/api/sensors/edit/<%= dadoSensor.id%>";
			let data = {
				name: document.getElementById('name').value,
				location: document.getElementById('location').value,
				corretion_temperature: document.getElementById('flexCheckChecked').checked,
				correction_value: document.getElementById('corretionValue').value,
				status: document.getElementById('flexRadioDefault3').checked
			};
			console.log(document.getElementById('flexCheckChecked').checked)
			fetch(url, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify(data)
			})
			.then(response => response.json())
			.then(data => {
				if (data.success) {
					alert('Atualização bem sucedida!');
				} else {
					alert('Atualização mal sucedida!');
				}
			})
			.catch((error) => {
				console.error('Error:', error);
			});
		});


	</script>

	</body>

</html>
