<!DOCTYPE html>
<html lang="en">

<head>
	<title>Página ADMIN</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- FontAwesome JS-->
	<script defer src="/assets/js/app.js"></script>

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="/assets/css/portal.css">

</head>
<%-include ('nav.ejs')%>

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">

				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">Canais</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">
									<!--Search div Orders
										
										<form class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Search</button>
					                    </div>
					                </form> -->

								</div><!--//col-->
							</div><!--//row-->
						</div><!--//table-utilities-->
					</div><!--//col-auto-->
				</div><!--//row-->


				<nav id="orders-table-tab"
					class="orders-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
					<a class="flex-sm-fill text-sm-center nav-link active" id="orders-all-tab" data-bs-toggle="tab"
						href="#orders-all" role="tab" aria-controls="orders-all" 
						aria-selected="true">Todos</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="orders-all-tab" data-bs-toggle="tab"
						href="#orders-all" role="tab" aria-controls="orders-all" 
						aria-selected="false">Ativos</a>
					<a class="flex-sm-fill text-sm-center nav-link" id="orders-pending-tab" data-bs-toggle="tab"
						href="#orders-pending" role="tab" aria-controls="orders-pending"
						aria-selected="false">Não Ativos</a>
				</nav>


				<div class="tab-content" id="orders-table-tab-content">
					<div class="tab-pane fade show active" id="orders-all" role="tabpanel"
						aria-labelledby="orders-all-tab">
						<div class="app-card app-card-orders-table shadow-sm mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table class="table app-table-hover mb-0 text-left">
										<thead>
											<tr>
												<th class="cell">Id</th>
												<th class="cell">Nome</th>
												<th class="cell">Email</th>
												<th class="cell">Data de Criação</th>	
												<th class="cell">Status</th>
											</tr>
										</thead>
										<tbody>

											<%for(i=0; i < dados.length; i++){%>
												<tr>
													<td><%-dados[i].id%></td>
													<td><%-dados[i].name%></td>
													<td><%-dados[i].email%></td>
													<td><%-dados[i].createdAt%></td>
													<td>    
														<div class="form-check form-switch">
														  <input data-id="<%-dados[i].id%>" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" <% if(dados[i].status == 'ACTIVE') { %>checked<% } %> >
														</div>
													</td>
													  
													<td>
														<!-- Botão para visualizar canais -->
														
														<a href="<%= `/index/admin/moderator-channels/${dados[i].id}`%>"><button  type="button" class="btn btn-primary">Canais</button></a>
											
														<!-- Botão para deletar o moderador -->
														<a  href="<%= `/auth/delet-moderator/${dados[i].id}`%>"> <button  type="button" class="btn btn-danger">Deletar</button> </a>
													</td>
												</tr>
											<%}%>
											

										</tbody>
									</table>
								</div><!--//table-responsive-->

								

							</div><!--//app-card-body-->
						</div><!--//app-card-->
						<%if (dados.length >= 8) {%>
							<nav class="app-pagination">
							<ul class="pagination justify-content-center">
								<li class="page-item disabled">
									<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
							    </li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
								    <a class="page-link" href="#">Next</a>
								</li>
							</ul> 
						</nav>
						<%}%>

					</div><!--//tab-pane-->
				</div><!--//tab-content-->

				

			</div><!--//container-fluid-->
		</div><!--//app-content-->

		    
		<footer class="app-footer fixed-bottom">
			<div class="container text-center py-3">
				 <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Design por  <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
			   
			</div>
		</footer><!--//app-footer-->
		

	</div><!--//app-wrapper-->


	<script>
		document.querySelectorAll(".form-check-input").forEach(function(checkbox) {
		  checkbox.addEventListener('change', function() {
			var isChecked = this.checked;
			var state = isChecked ? "ACTIVE" : "INACTIVE";
			var moderatorId = this.getAttribute('data-id');
		
			// Enviar uma requisição POST quando o estado do checkbox muda
			fetch('/auth/inv-status/'+moderatorId, {
			  method: 'POST',
			  headers: {
				'Content-Type': 'application/json',
			  },
			  body: JSON.stringify({ state: state}),
			})
			.then(response => response.json())
			.then(data => {
			  console.log('Sucesso:', data);
			})
			.catch((error) => {
			  console.error('Erro:', error);
			});
		  });
		});
		</script>
		




	<!-- Javascript -->
	<script src="/assets/plugins/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


	<!-- Page Specific JS -->
	<script src="/assets/js/app.js"></script>

	</body>

</html>