<!DOCTYPE html>
<html lang="en">

<head>
	<title>Página ADMIN</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="description" content="Portal - Bootstrap 5 Admin Dashboard Template For Developers">
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- FontAwesome JS-->
	<script defer src="/assets/js/app.js"></script>

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="/assets/css/portal.css">

</head>
<%-include ('nav.ejs')%>

	<div class="app-wrapper">

		<div class="app-content pt-3 p-md-3 p-lg-4">
			<div class="container-xl">

				<div class="row g-3 mb-4 align-items-center justify-content-between">
					<div class="col-auto">
						<h1 class="app-page-title mb-0">Moderadores</h1>
					</div>
					<div class="col-auto">
						<div class="page-utilities">
							<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
								<div class="col-auto">
									<!--Search div Orders
										
										<form class="table-search-form row gx-1 align-items-center">
					                    <div class="col-auto">
					                        <input type="text" id="search-orders" name="searchorders" class="form-control search-orders" placeholder="Search">
					                    </div>
					                    <div class="col-auto">
					                        <button type="submit" class="btn app-btn-secondary">Search</button>
					                    </div>
					                </form> -->

								</div><!--//col-->
							</div><!--//row-->
						</div><!--//table-utilities-->
					</div><!--//col-auto-->
				</div><!--//row-->


				

				<div class="tab-content" id="orders-table-tab-content">
					<div class="tab-pane fade show active" id="orders-all" role="tabpanel"
						aria-labelledby="orders-all-tab">
						<div class="app-card app-card-orders-table shadow-sm mb-5">
							<div class="app-card-body">
								<div class="table-responsive">
									<table  class="table app-table-hover mb-0 text-left tabela1 table-striped">
										<thead>
											<tr>
												<th class="cell">Id</th>
												<th class="cell">Nome</th>
												<th class="cell">Email</th>
												<th class="cell">Permissão</th>	
												<th class="cell">Status</th>
											</tr>
										</thead>
										<tbody>

											<%for(i=0; i < dados.length; i++){%>
												<% if(dados[i].permission_type === 'ADMIN') continue%>
												<tr id="all<%-dados[i].id%>">
													<td><%-dados[i].id%></td>
													<td><%-dados[i].name%></td>
													<td><%-dados[i].email%></td>
													<td>
														<select class="form-select-sm" data-id="<%-dados[i].id%>">
															<% if(dados[i].permission_type === 'USER') {%>
														  <option value="USER" selected>USER</option>
														  <option value="MODERATOR" >MODERADOR</option>
														  <% } else { %>
															<option value="USER">USER</option>
															<option value="MODERADOR" selected>MODERADOR</option>
															<% }  %>
														</select>
													</td>
													  

													<td>    
														<div class="form-check form-switch">
														  <input d-id="<%-dados[i].id%>" data-id="<%-dados[i].id%>" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" <% if(dados[i].status == 'ACTIVE') { %>checked<% } %> >
														</div>
													</td>
													  
													
												</tr>
											<%}%>
											

										</tbody>
									</table>
								</div><!--//table-responsive-->

								

							</div><!--//app-card-body-->
						</div><!--//app-card-->
						\

					</div><!--//tab-pane-->


					

				</div><!--//tab-content-->

				

			</div><!--//container-fluid-->
		</div><!--//app-content-->

		    
		<footer class="app-footer fixed-bottom">
			<div class="container text-center py-3">
				 <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<small class="copyright">Design por  <a class="app-link" href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a></small>
			   
			</div>
		</footer><!--//app-footer-->
		

	</div><!--//app-wrapper-->




	<!-- Javascript -->
	<script src="/assets/plugins/popper.min.js"></script>
	<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css">
	<script>
		$(document).ready(function() {
			$('.tabela1').DataTable({
				"language": {
					"lengthMenu": "Mostrando _MENU_ registros por página",
					"zeroRecords": "Nada encontrado",
					"info": "Mostrando página _PAGE_ de _PAGES_",
					"infoEmpty": "Nenhum usuário disponível",
					"infoFiltered": "(filtrado de _MAX_ registros no total)",
					"search": "Pesquisar:",
					"paginate": {
						"next": " Próximo",
						"previous": "Anterior "
					}
				}
			});
		});

		document.querySelectorAll(".form-check-input").forEach(function(checkbox) {
		  checkbox.addEventListener('change', function() {
			var isChecked = this.checked;
			var state = isChecked ? "ACTIVE" : "INACTIVE";
			var moderatorId = this.getAttribute('data-id');
		
			// Enviar uma requisição POST quando o estado do checkbox muda
			fetch('/auth/inv-status/'+moderatorId, {
			  method: 'POST',
			  headers: {
				'Content-Type': 'application/json',
			  },
			  body: JSON.stringify({ state: state}),
			})
			.then(response => response.json())
			.then(data => {
				console.log('Sucesso:', data);
	
			})
			.catch((error) => {
			  console.error('Erro:', error);
			});


		  });
		});

		document.querySelectorAll(".form-select-sm").forEach(function(selecetbox) {
			selecetbox.addEventListener('change', function() {
				var perm = this.value;
				var id = this.getAttribute('data-id');
				
				// Enviar uma requisição POST quando o estado do checkbox muda
				fetch('/auth/changed-perm/'+id, {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({ perm: perm}),
				})
				.then(response => response.json())
				.then(data => {
					

				})
				.catch((error) => {
				console.error('Erro:', error);
				});


		  });
		});


	</script>

	<style>
		.dataTables_filter input {
			border-radius: 5px;
		}
		.dataTables_length select {
			border-radius: 5px;
		}
	</style>



	<!-- Page Specific JS -->
	<script src="/assets/js/app.js"></script>

	</body>

</html>